@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background-color: #050505; /* Deep Void */
  color: #ffffff;
  width: 100%;
  min-height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
}
